
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


header {
    text-align: center;
}

header h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}


.form-container {
    margin-bottom: 30px;
}

.form-container h2 {
    color: #333;
    margin-bottom: 10px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}


.user-list h2 {
    color: #333;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
}

.user-list a {
    margin-left: 10px;
    color: #007BFF;
    text-decoration: none;
}

.user-list a:hover {
    text-decoration: underline;
}


.success {
    color: green;
    font-weight: bold;
}
